
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anta", sans-serif;

}
body
{
    background: #070707fa;
}

.top-section {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(132deg, rgb(16, 161, 245) 0.00%, rgb(24, 138, 245) 100.00%);
    color: #FFF;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 16px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h3 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: center; 
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 28px;
    margin-top: -6px;
}

.weather {
    display: none;
}

.error {
    align-items: center; 
    margin: 10px;
    font-size: 20px;
    margin-top: 10px;
    display: none;
}


@media only screen and (max-width: 600px) {
    .top-section {
        max-width: none;
        border-radius: 0;
        padding: 40px 20px;
    }

    .search {

        flex-direction: row;
    }

    .search input {
        padding: 8px 10px;

    }
    .search button  {
        width: 60px;
        height: 60px;
    }


    .weather h1 {
        font-size: 60px;
    }

    .weather h3 {
        font-size: 35px;
    }

    .details {
        flex-direction: column;
    }

    .col {
        margin-bottom: 20px;
    }
}